In [64]:
import pandas as pd
from dotenv import load_dotenv
import os
load_dotenv()

True

In [65]:
vendas = pd.read_excel(os.getenv('arquivo'), sheet_name = 'BASE')
produtos = pd.read_excel(os.getenv('arquivo'), sheet_name = 'BASE')

TOTAL DE VENDAS POR LOJAS

In [66]:
vendas = vendas[vendas['NAT_OP'].str.contains('VENDA')]

In [67]:
vendas = vendas[['LOJAS', 'TOTAL']].groupby('LOJAS').sum()
vendas = vendas.sort_values('TOTAL', ascending = False)
vendas

                     TOTAL
LOJAS
LIDER ITAUNA     297198.00
SILVA LOBO       290635.63
PARA DE MINAS    266270.49
BURITIS          261875.80
SETE LAGOAS      258471.00
DIVINOPOLIS      224104.00
PREMIUM ITAUNA   181337.30
CARMO DO CAJURU  143416.96
BETIM            132013.24

QTADE DE VENDAS POR PRODUTO

In [68]:
produtos = produtos[['COD_AUX', 'TOTAL']].groupby('COD_AUX').sum()
produtos = produtos.sort_values('TOTAL', ascending = False)
produtos

                  TOTAL
COD_AUX
1CHLON1636POS  56776.50
1CHLON1636POW  50359.00
1CHLON1936POS  47511.00
1BXECO16BMSNA  47205.07
1CHAMT16POLNA  41368.79
...                 ...
1CH16861CONS       1.00
1CH158878CONS      1.00
1CH158873CONS      1.00
1EMPRE19BOXLE      1.00
1CH193864CONS      1.00

[484 rows x 1 columns]